/* [class^="number-slide"],
[class*=" number-slide"] {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  height: 100%;
  max-height: 100vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* [class^="number-slide"],
[class*=" number-slide"] {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  min-height: 280px;  
  height: auto;
  max-height: 100vh;

  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

[class^="number-slide"],
[class*=" number-slide"] {
  background: white;
  display: flex;
  flex-direction: column; /* add this */
  align-items: center;
  justify-content: flex-start; /* changed from center for vertical alignment */

  font-weight: 500;
  /* min-height: 280px;  */
  min-height: 100%;
  height: 390px; /* make slide take full height */
  /* max-height: 100vh; */

  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .navigation-wrapper {
  position: relative;
    min-height: 300px; 
} */

.arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: -15px;
  background-color: #51acec;
  padding: 10px;
  border-radius: 50%;
}

.arrow--right {
  left: auto;
  right: -15px;
  background-color: #51acec;
  padding: 10px;
  border-radius: 50%;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 9999px;
  background-color: #ccc;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #000;
}

.keen-slider {
  /* hardware acceleration and smooth transition */
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform;
}

.keen-slider__slide {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  /* prevent layout shift */
  height: 100%;
}

.navigation-wrapper {
  position: relative;
  /* min-height: 320px;  */
}
