.swiper {
    width: 100%;
    height: 100%;

}

.booksSwiper {
    overflow: visible !important;
    /* max-height: 400px !important;
    height: 100% !important; */
}

.swiper-slide {

    height: 100% !important;
    max-height: 500px !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    max-width: 600px !important;
    height: 100% !important;
}

.swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    left: -18px !important;
    background: #4FA9E7 !important;
    z-index: 99999999999999999 !important;
    border-radius: 100% !important;
}

.swiper-button-next {
    width: 35px !important;
    height: 35px !important;
    right: -18px !important;
    background: #4FA9E7 !important;
    z-index: 99999999999999999 !important;
    border-radius: 100% !important;
}

.swiper-navigation-icon {
    color: white !important;
    width: 10px !important;
}

.swiperDiv {
    overflow: hidden !important;
    padding: 0px 20px !important;
}

.swiper-pagination {
    display: hidden !important;
}


.swiper-pagination-bullet {
    display: none !important;
}


@media (max-width:576px) {
    .swiper-slide {
        max-height: 800px !important;
        height: 100% !important;
    }

    /* .swiper-wrapper {
        max-height: 800px !important;
        height: 100% !important;
    }

    .swiperDiv {
        max-height: 800px !important;
        height: 100% !important;
    }


    .swiper {
        max-height: 800px !important;
        height: 100% !important;
    } */
}